@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

.navbarLinks ul li .active {
  color: white;
  background-color: #38c9bd;
  width: 100%;
}

.backgroundImage {
  background-image: url("./assets//beach3.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}