@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

.navbarLinks ul li .active {
  color: white;
  background-color: #38c9bd;
  width: 100%;
}